{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'bank_on/css/layout.css' %}">
    <title>Bank On - ATM & StockXchange Now</title>
  </head>

  <body>
    <!-- NAVBAR-->
      <nav class="navbar navbar-expand-lg nav-custom navbar-dark" style="background-image: linear-gradient(to right,rgb(63, 49, 138), rgba(212,217,245));">
        <a class="navbar-brand" href="/bank_on_wallet/home">Bank On</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/bank_on_wallet/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ATM</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/bank_on_wallet/deposit">Deposit</a>
                  <a class="dropdown-item" href="/bank_on_wallet/withdraw">Withdraw</a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/bank_on_wallet/home">See Transactions</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">StockXchange</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/bank_on_wallet/buy">Buy the Market</a>
                  <a class="dropdown-item" href="/bank_on_wallet/sell">Sell Your Stock</a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Live Stocks</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </nav>

  <!--TOP ROW DASHBOARD W/BALANCE & PORTFOLIO VALUE -->
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">          
              <div class="row">
                <div class="col-xl-2 col-lg-2 mb-2 mb-xl-0"></div>
                <div class="col-xl-3 col-lg-3 mb-3 mb-xl-0">
                    <div class="bg-white align-items-center ">
                        <div class="flex-grow-2 d-flex align-items-center">
                          <div class="text">
                              {% block intro %}
                              {% endblock %}</h3>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                      <div class="flex-grow-1 d-flex align-items-center">
                        <div class="text">
                          <h6 class="mb-0">Balance</h6><span class="text-gray">${{account.balance}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                      <div class="flex-grow-1 d-flex align-items-center">
                        <div class="text">
                          <h6 class="mb-0">Portfolio Value</h6><span class="text-gray">${{portfolio_value}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
          </section>
        </div>
    </div>   
          
          
          {% block content%}

          {% endblock%}
          
      </div>
    </div>
    <!--Css-->
    <style>
        .roundy {
            border-radius: 50px;
            }

        @media (max-width: 991.98px)
        .navbar .navbar-brand {
            position: static;
            -webkit-transform: none;
            transform: none;
            }

        .navbar {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: .5rem 1rem;
            }

        .dot {
            max-width: 10px;
            min-width: 10px;
            max-height: 10px;
            min-height: 10px;
            border-radius: 50%;
        }

        div #sidebar {
            width: 20%;
            color: white;
            text-align: center;
            background-color: grey;
        }

        .sidebar-link {
            color: white;
            text-align: center;
        }
    </style>

    <script>$(function(){$(".sidebar-toggler").on("click",function(){$(".sidebar").toggleClass("shrink show")});var e=$("link#theme-stylesheet");$("<link id='new-stylesheet' rel='stylesheet'>").insertAfter(e);var t=$("link#new-stylesheet");$.cookie("theme_csspath")&&t.attr("href",$.cookie("theme_csspath")),$("#colour").change(function(){if(""!==$(this).val()){var e="css/style."+$(this).val()+".css";t.attr("href",e),$.cookie("theme_csspath",e,{expires:365,path:document.URL.substr(0,document.URL.lastIndexOf("/"))})}return!1})}),Cookies.set("active","true");</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </body>
</html>