{% extends 'bank_on_wallet/layout.html' %}

{% block intro %}
    <h3>{{account.name}},<h3/> <h4>enjoy your spoils...</h4>
{% endblock %}

{% block content%}
    <div class="container-fluid">
        <form method="post" action="{% url 'withdrawn' %}">
            {% csrf_token %}
            <p>Current Balance: ${{account.balance}}</p>
            <p>How much $$$ would you like?</p>
            Withdraw Amount: <input name="money" placeholder="dollars">
            <input type="submit" value="Withdraw Money">
         </form>
    </div>
{% endblock %}